h1, h2 
{

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: black 2px 2px;

}

#cent
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;

}

p, a
{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold, italic;
    color: rgb(24, 24, 24);
    text-align: center;

}

body
{

    background-image: url('bruh.gif'); 
    background-repeat: repeat;
}